.image {
  width: 100%;
  padding-bottom: 0;
  .imgWrap {
    display: block;
    width: 100%;
    height: 100%;
  }
  h4 {
    color: $subtitle;
    font-size: 120%;
  }
  a {
    color: $subtitle;
    margin-top: 6px;
  }
  a:hover {
    color: $base-font-color;
  }
  h4 {
    margin: 0;
    padding: 1.5rem;
  }
}
