.post {
  .backArrow {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 5rem;
    height: 5rem;
    z-index: 2;
    cursor: pointer;
    svg {
      color: $gray;
    }
    &:hover {
      svg {
        color: darken($gray, 25%);
      }
    }
  }
  overflow: hidden;
  background: $base-background-color;
  h1 {
    padding-top: 0;
    margin-top: 0;
    text-transform: capitalize;
  }
  .article {
    max-width: 70ch;
  }
  a:hover {
    color: $action-color;
  }
   h1, h3, h4, h5 {
    margin: 0;

    color: darken($secondary-font-color, 35%);
  }
  h1 {
    color: inherit;
  }
  h4 {
    padding-bottom: $mobile-padding-y;
  }
  p {
    a {
      color: $action-color;
      &:hover {
        color: darken($action-color, 20%);
      }
    }
  }
}
.postTagContainer {
  padding: 0;
  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }
}
