.eduListing {
  width: 100%;
  p {
    margin: 0;
  }
  p:first-of-type{
    color: lighten($base-font-color, 25%);
  }
  h3 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  div {
    padding: 1rem 0;
  }
}
