footer {
  background: $action-color;

  p,h3 {
    color: $secondary-font-color;
    transition: $base-in-timing $base-in-duration;
  }
  h3 {
    font-size: 120%;
    margin-right: 0.5rem;
  }
  svg {
    color: $secondary-font-color;
  }
  a:hover {
    transition: $base-in-timing $base-in-duration;
    p,h3 {
      color: darken($secondary-font-color, 20%);
    }
  }
  ul {
    width: 100%;
    margin-block-end: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .active {
      h3 {
        color: $olive;
      }
    }
    @media screen and (max-width:768px) {
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
      h3 {
        padding: 0;
        margin: 0;
      }
    }
    li {
      margin: 0 0px;
      padding: 10px 0;
    }
  }
  div.flex.column {
    width: 100%;
    align-items: center;
    text-align: center;
    p {
      max-width: 70ch;
      margin: 0;
      font-size: 80%;
    }
    @media screen and (max-width: 768px) {
      align-items: flex-start;
      text-align: left;
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
