.welcome {
  background: $base-background-color;
  position: relative;
  box-shadow: 1px 2px 15px lighten($base-font-color, 50%);
  .frontHero {
    overflow: hidden;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }
  h1 {
    padding-top: 2rem;
    margin-bottom: 0;
  }
  p {
    text-align: center;
  }
  .buttons {
    padding-top: 3rem;
    button {
      margin: 0 5px;
      padding: 1.5rem;
      border-radius: 50%;
      &:hover {
        box-shadow: 2px 5px 15px $base-font-color;
      }
    }
  }
}
